@use 'baseline-scss/mixins' as _;

._clear_left {
  clear: left;
}
._clear_right {
  clear: right;
}

._clearfix::after {
  display: block;
  clear: both;
  content: '';
}

._margin_bottom {
  margin-bottom: var(--_);
}
._no_margin_bottom {
  margin-bottom: 0;
}

._pull_left {
  float: left;
}
._pull_right {
  float: right;
}

._responsive_table_wrapper {
  margin-bottom: var(--_);
  overflow-x: auto;

  > table:last-child {
    margin-bottom: 0;
  }
}

._sr_only,
._sr_only_focusable:not(:focus):not(:focus-within) {
  @include _.sr_only();
}

._text_left {
  text-align: left;
}
._text_right {
  text-align: right;
}
._text_center {
  text-align: center;
}
._text_justify {
  text-align: justify;
}

._text_capitalize {
  text-transform: capitalize;
}
._text_uppercase {
  text-transform: uppercase;
}
._text_lowercase {
  text-transform: lowercase;
}
