._clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

._margin_bottom {
  margin-bottom: var(--_);
}
._no_margin_bottom {
  margin-bottom: 0;
}

._responsive_table_wrapper {
  margin-bottom: var(--_);
  overflow-x: auto;

  > table:last-child {
    margin-bottom: 0;
  }
}

._sr_only,
._sr_only_focusable:not(:focus):not(:focus-within) {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

._text_left {
  text-align: left;
}
._text_right {
  text-align: right;
}
._text_center {
  text-align: center;
}
._text_justify {
  text-align: justify;
}

._text_capitalize {
  text-transform: capitalize;
}
._text_uppercase {
  text-transform: uppercase;
}
._text_lowercase {
  text-transform: lowercase;
}
