@mixin centered_container() {
  margin-inline: auto;
  max-width: var(--centered_container_max_width, 100%);
}

@mixin font_awesome($content: '') {
  content: $content;
  display: var(--fa-display, inline-block);
  font-family: var(--fa-style-family, 'FontAwesome');
  font-style: normal;
  font-variant: normal;
  font-weight: var(--fa-style, 900);
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin full_bleed() {
  --_full_bleed_background_color: var(--full_bleed_background_color, var(--body_background_color));

  background-color: var(--_full_bleed_background_color);
  box-shadow: 50vmax 0 0 0 var(--_full_bleed_background_color),
              -50vmax 0 0 0 var(--_full_bleed_background_color);
}

@mixin inset_border() {
  --_inset_border_color: var(--inset_border_color, var(--body_color));
  --_inset_border_block_color: var(--inset_border_block_color, var(--_inset_border_color));
  --_inset_border_inline_color: var(--inset_border_inline_color, var(--_inset_border_color));
  --_inset_border_top_color: var(--inset_border_top_color, var(--_inset_border_block_color));
  --_inset_border_right_color: var(--inset_border_right_color, var(--_inset_border_inline_color));
  --_inset_border_bottom_color: var(--inset_border_bottom_color, var(--_inset_border_block_color));
  --_inset_border_left_color: var(--inset_border_left_color, var(--_inset_border_inline_color));

  --_inset_border_width: var(--inset_border_width, 1px);
  --_inset_border_block_width: var(--inset_border_block_width, var(--_inset_border_width));
  --_inset_border_inline_width: var(--inset_border_inline_width, var(--_inset_border_width));
  --_inset_border_top_width: var(--inset_border_top_width, var(--_inset_border_block_width));
  --_inset_border_right_width: calc(-1 * var(--inset_border_right_width, var(--_inset_border_inline_width)));
  --_inset_border_bottom_width: calc(-1 * var(--inset_border_bottom_width, var(--_inset_border_block_width)));
  --_inset_border_left_width: var(--inset_border_left_width, var(--_inset_border_inline_width));

  box-shadow: inset 0 var(--_inset_border_top_width) 0 0 var(--_inset_border_top_color),
              inset var(--_inset_border_right_width) 0 0 0 var(--_inset_border_right_color),
              inset 0 var(--_inset_border_bottom_width) 0 0 var(--_inset_border_bottom_color),
              inset var(--_inset_border_left_width) 0 0 0 var(--_inset_border_left_color);
}

@mixin outline() {
  outline: var(--outline_width, .2rem) var(--outline_style, auto) var(--outline_color, #9cf);
  outline-offset: var(--outline_offset, .2rem);
}

@mixin sr_only() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
