@use 'baseline-scss/mixins' as _;

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

[tabindex]:not([tabindex^='-']):focus {
  @include _.outline();
}

// Don't outline elements that programmatically receive focus but wouldn't normally show an outline.
[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

html {
  font-size: x-small; // 1rem == 10px
}

body {
  background-color: var(--body_background_color); // Best practice.
  color: var(--body_color);
  line-height: var(--body_line_height);
  font-family: var(--body_font_family);
  font-size: var(--body_font_size);
  font-weight: normal;
  text-align: left;

  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-tap-highlight-color: rgba(#000, 0); // Change the default tap highlight to be completely transparent in iOS.
}

iframe {
  border: 0;
  vertical-align: middle;
}

output {
  display: inline-block;
}

summary {
  cursor: pointer;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
