:root {
  --_: 1.2rem;
  --_half: .6rem;

  // Fonts
  --font_family_sans: sans-serif;
  --font_family_serif: serif;
  --font_family_mono: monospace;

  --font_family: var(--font_family_sans);
  --font_family_h: var(--font_family_sans);
  --font_family_code: var(--font_family_mono);

  --font_size: 1.6rem;
  --font_size_code: 1.5rem;
  --font_size_h1: 4.8rem;
  --font_size_h2: 3.2rem;
  --font_size_h3: 2.4rem;
  --font_size_h4: 2rem;
  --font_size_h5: 1.6rem;
  --font_size_h6: 1.2rem;
  --font_size_large: 125%;
  --font_size_small: 75%;

  --font_weight: normal;
  --font_weight_bold: bold;
  --font_weight_light: light;
  --font_weight_h: var(--font_weight_bold);

  --line_height: 1.5;
  --line_height_code: 1.6;
  --line_height_h1: 1.25;
  --line_height_h2: 1.125;
  --line_height_h3: 1.5;
  --line_height_h4: 1.2;
  --line_height_h5: 1.5;
  --line_height_h6: 1;

  // Colors
  --body_background_color: #fff;
  --body_color: #000;

  --create_background_color: #cfc;
  --create_border_color: #3c3;
  --update_background_color: #cff;
  --update_border_color: #3cc;
  --destroy_background_color: #fcc;
  --destroy_border_color: #c33;

  --gray_50: #fafafa;
  --gray_100: #f5f5f5;
  --gray_200: #eeeeee;
  --gray_300: #e0e0e0;
  --gray_400: #bdbdbd;
  --gray_500: #9e9e9e;
  --gray_600: #757575;
  --gray_700: #616161;
  --gray_800: #424242;
  --gray_900: #212121;

  // Outline
  --outline_color: #9cf;
  --outline_offset: .2rem;
  --outline_style: auto;
  --outline_width: .2rem;

  // Containers
  --container_padding: 2rem;
  --container_max_width: 100%;

  // Forms
  --fieldset_padding_h: 1rem;

  --legend_padding_h: 0 .5rem;

  --input_background_color: var(--body_background_color);
  --input_border_color: #767676;
  --input_border_radius: 0;
  --input_border_style: inset;
  --input_border_width: .1rem;
  --input_color: var(--body_color);
  --input_padding: 0 .25em;

  --input_background_color_hover: var(--input_background_color);
  --input_border_color_hover: #4f4f4f;
  --input_color_hover: var(--input_color);

  --input_background_color_focus: var(--input_background_color);
  --input_border_color_focus: var(--input_border_color);
  --input_color_focus: var(--input_color);

  --input_background_color_active: var(--input_background_color);
  --input_border_color_active: #8d8d8d;
  --input_color_active: var(--input_color);

  --input_background_color_disabled: #eee;
  --input_border_color_disabled: #d0d0d0;
  --input_color_disabled: #b3b3b3;

  --input_background_color_read_only: var(--input_background_color_disabled);
  --input_border_color_read_only: var(--input_border_color_disabled);
  --input_color_read_only: var(--input_color_disabled);

  --textarea_padding_h: .25em;

  // Lists
  --dl_margin_l: 1.5em;
  --list_padding_l: 1.5em;

  // Tables
  --table_cell_padding: 0 .25em;

  // Typography
  --blockquote_margin_h: 2rem;

  --hr_border_color: var(--body_color);
  --hr_border_style: solid;
  --hr_border_width: .1rem;

  --link_color: #00e;
  --link_color_visited: #528;
  --link_color_hover: #00f;
  --link_color_focus: var(--link_color_hover);
  --link_color_active: var(--link_color_hover);

  --mark_background_color: #ff0;
}
