@use 'baseline-scss/mixins/outline' as o;

button,
[type='button'],
[type='reset'],
[type='submit'] {
  --background_color: var(--button_background_color);
  --border_color: var(--button_border_color);
  --border_radius: var(--button_border_radius);
  --border_style: var(--button_border_style);
  --border_width: var(--button_border_width);
  --color: var(--button_color);
  --font_size: var(--button_font_size);
  --height: var(--button_height);
  --line_height: var(--button_line_height);
  --padding: var(--button_padding);

  background-color: var(--background_color);
  border: var(--border_width) var(--border_style) var(--border_color);
  border-radius: var(--border_radius);
  color: var(--color);
  font-size: var(--font_size);
  height: var(--height);
  line-height: var(--line_height);
  padding: var(--padding);

  &:hover {
    --background_color: var(--button_background_color_hover);
    --border_color: var(--button_border_color_hover);
    --color: var(--button_color_hover);
  }

  &:focus {
    --background_color: var(--button_background_color_focus);
    --border_color: var(--button_border_color_focus);
    --color: var(--button_color_focus);

    @include o.outline();
  }

  &:active {
    --background_color: var(--button_background_color_active);
    --border_color: var(--button_border_color_active);
    --color: var(--button_color_active);
  }

  &:disabled {
    --background_color: var(--button_background_color_disabled);
    --border_color: var(--button_border_color_disabled);
    --color: var(--button_color_disabled);

    pointer-events: none;
  }
}
