@use 'baseline-scss/mixins' as _;

form {
  margin-bottom: var(--_);

  > fieldset:last-child {
    margin-bottom: 0;
  }
}

fieldset {
  border: 0; // Don't affect page layout.
  margin: 0 0 var(--_);
  min-width: 0; // Behave like a standard block element.
  padding: var(--_) .5em;

  &:has(> legend:first-child) {
    @include _.inset_border();
  }
}

legend {
  background-color: var(--body_background_color);
  padding: 0 .5em;
}

label {
  display: inline-block; // Allow labels to use `margin` for spacing.
}

input,
optgroup,
select,
textarea {
  font-size: inherit;
  line-height: inherit;

  &:disabled {
    pointer-events: none;
  }
}

input,
select,
textarea {
  &:focus {
    @include _.outline();
  }
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
select,
textarea {
  --_input_background_color: var(--input_background_color);
  --_input_border_color: var(--input_border_color);
  --_input_border_width: var(--input_border_width, .1rem);
  --_input_color: var(--input_color);

  background-color: var(--_input_background_color, var(--body_background_color));
  border-color: var(--_input_border_color, var(--gray_600));
  border-radius: var(--input_border_radius, 0);
  border-style: var(--input_border_style, solid);
  border-width: var(--_input_border_width);
  color: var(--_input_color, var(--body_color));
  font-size: var(--input_font_size, var(--body_font_size));
  font-weight: var(--input_font_weight, var(--font_weight_normal));
  line-height: var(--input_line_height, calc(2 * (var(--_) - var(--_input_border_width))));
  padding: var(--input_padding, 0 .25em);

  &:hover {
    --_input_background_color: var(--input_background_color_hover, var(--input_background_color));
    --_input_border_color: var(--input_border_color_hover, var(--input_border_color, var(--gray_800)));
    --_input_color: var(--input_color_hover, var(--input_color));
  }

  &:focus {
    --_input_background_color: var(--input_background_color_focus, var(--input_background_color));
    --_input_border_color: var(--input_border_color_focus, var(--input_border_color));
    --_input_color: var(--input_color_focus, var(--input_color));
  }

  &:active {
    --_input_background_color: var(--input_background_color_active, var(--input_background_color));
    --_input_border_color: var(--input_border_color_active, var(--input_border_color, var(--gray_500)));
    --_input_color: var(--input_color_active, var(--input_color));
  }

  &[aria-activedescendant] {
    outline: 0;
  }

  &[aria-invalid='true'] {
    --_input_background_color: var(--input_background_color_invalid, var(--invalid_background_color));
    --_input_border_color: var(--input_border_color_invalid, var(--invalid_border_color));
  }
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  &:focus:invalid {
    --_input_background_color: var(--input_background_color_warning, var(--warning_background_color));
    --_input_border_color: var(--input_border_color_warningd, var(--warning_border_color));
  }

  &::placeholder {
    color: var(--input_placeholder_color, var(--gray_600));
  }

  &:read-only {
    --_input_background_color: var(--input_background_color_read_only, var(--input_background_color, var(--gray_200)));
    --_input_border_color: var(--input_border_color_read_only, var(--input_border_color, var(--gray_300)));
    --_input_color: var(--input_color_read_only, var(--input_color, var(--gray_400)));
  }

  &:user-invalid {
    --_input_background_color: var(--input_background_color_invalid, var(--invalid_background_color));
    --_input_border_color: var(--input_border_color_invalid, var(--invalid_border_color));
  }

  &:user-valid {
    --_input_background_color: var(--input_background_color_valid, var(--valid_background_color));
    --_input_border_color: var(--input_border_color_valid, var(--valid_border_color));
  }
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
select,
textarea {
  &:disabled { // put here to override :read-only
    --_input_background_color: var(--input_background_color_disabled, var(--input_background_color, var(--gray_200)));
    --_input_border_color: var(--input_border_color_disabled, var(--input_border_color, var(--gray_300)));
    --_input_color: var(--input_color_disabled, var(--input_color, var(--gray_400)));
  }
}

[type='range'] {
  vertical-align: middle;
}

[type='search'] {
  outline-offset: -.2rem;
}

select {
  height: var(--select_height, calc(2 * var(--_)));
  margin-top: calc(var(--_input_border_width) / -2);
  word-wrap: normal; // Remove the inheritance of word-wrap in Safari.

  &:disabled {
    opacity: 1; // Undo the opacity change from Chrome.
  }
}

textarea {
  --input_line_height: var(--body_line_height);
  --input_padding: calc(var(--_half) - var(--_input_border_width)) .25em;

  height: auto;
  resize: vertical; // Don't break its (horizontal) containers.
  vertical-align: top;
}

::file-selector-button {
  font: inherit; // Inherit font family and line height for file input buttons.
  -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
}
