dl, ol, ul {
  margin-top: 0;
  margin-bottom: var(--_);

  & & {
    margin-bottom: 0;
  }
}

dl dl {
  margin-left: 1.5em;
}

dt {
  font-weight: var(--font_weight_bold);
}

dd {
  margin-left: 0;
}

ol, ul {
  padding-left: 1.5em;
}
