table {
  border-collapse: collapse; // Prevent double borders.
	border-color: currentcolor;
  margin-bottom: var(--_);
  width: 100%;
}

caption {
  font-weight: var(--font_weight_bold);
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

thead th {
  font-weight: var(--font_weight_bold);
  vertical-align: bottom;
}

td, th {
  padding-block: var(--table_cell_padding_block, 0);
  padding-inline: var(--table_cell_padding_inline, .25em);
  vertical-align: top;

  > dl,
  > ol,
  > ul,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

th {
  font-weight: inherit;
  text-align: inherit; // Matches default `<td>` alignment.
  text-align: -webkit-match-parent; // Fix alignment for Safari.
}
