@use 'baseline-scss/mixins' as _;

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: var(--_);
}

blockquote {
  margin: 0 2em var(--_);
}

h1, ._h1,
h2, ._h2,
h3, ._h3,
h4, ._h4,
h5, ._h5,
h6, ._h6 {
  font-family: var(--h_font_family);
  font-weight: var(--font_weight_bold);
  margin-top: 0;
  margin-bottom: var(--_);

  small, ._small {
    font-weight: var(--font_weight_normal);
  }
}

h1, ._h1 {
  font-size: var(--h1_font_size);
  line-height: var(--h1_line_height);
}

h2, ._h2 {
  font-size: var(--h2_font_size);
  line-height: var(--h2_line_height);
}

h3, ._h3 {
  font-size: var(--h3_font_size);
  line-height: var(--h3_line_height);
}

h4, ._h4 {
  font-size: var(--h4_font_size);
  line-height: var(--h4_line_height);
}

h5, ._h5 {
  font-size: var(--h5_font_size);
  line-height: var(--h5_line_height);
}

h6, ._h6 {
  font-size: var(--h6_font_size);
  line-height: var(--h6_line_height);
}

p, ._p {
  margin-top: 0;
  margin-bottom: var(--_);
}

hr {
  border: 0;
  border-top: .1rem solid var(--body_color);
  box-sizing: border-box;
  height: var(--_);
  margin: 0;
}

a {
  --_color: var(--color, inherit)

  color: var(--_color);

  &:link {
    --color: var(--link_color);
  }

  &:visited {
    --color: var(--link_color_visited);
  }

  &[href]:hover {
    --color: var(--link_color_hover);
  }

  &:focus {
    --color: var(--link_color_focus);

    @include _.outline();
  }

  &[href]:active {
    --color: var(--link_color_active);
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0; // Plain anchors don't need an outline.
  }
}

abbr[title] {
  cursor: help; // Add explicit cursor to indicate changed behavior.
  text-decoration-skip-ink: none; // Prevent the text-decoration to be skipped.
}

._large {
  font-size: var(--font_size_large);
  line-height: 1;
}

mark {
  background-color: #ff0;
}

small, ._small,
sub,
sup {
  font-size: var(--font_size_small);
  line-height: 1;
}
