@use 'baseline-scss/mixins' as _;

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: var(--_);
}

blockquote {
  margin: 0 2em var(--_);
}

h1, ._h1,
h2, ._h2,
h3, ._h3,
h4, ._h4,
h5, ._h5,
h6, ._h6 {
  font-family: var(--h_font_family);
  font-weight: var(--h_font_weight);
  margin-top: 0;
  margin-bottom: var(--_);

  small, ._small {
    font-weight: var(--font_weight_normal);
  }
}

h1, ._h1 {
  font-size: var(--h1_font_size);
  line-height: var(--h1_line_height);
}

h2, ._h2 {
  font-size: var(--h2_font_size);
  line-height: var(--h2_line_height);
}

h3, ._h3 {
  font-size: var(--h3_font_size);
  line-height: var(--h3_line_height);
}

h4, ._h4 {
  font-size: var(--h4_font_size);
  line-height: var(--h4_line_height);
}

h5, ._h5 {
  font-size: var(--h5_font_size);
  line-height: var(--h5_line_height);
}

h6, ._h6 {
  font-size: var(--h6_font_size);
  line-height: var(--h6_line_height);
}

p, ._p {
  margin-top: 0;
  margin-bottom: var(--_);
}

hr {
  border: 0;
  border-top: var(--hr_border_size, .1rem) var(--hr_border_style, solid) var(--hr_border_color, var(--body_color));
  box-sizing: border-box;
  height: var(--hr_height, var(--_));
  margin: 0;
}

a {
  &:any-link {
    --_link_color: var(--link_color);
    --_link_text_decoration: var(--link_text_decoration);

    color: var(--_link_color, #00e);
    text-decoration: var(--_link_text_decoration, underline);

    &:visited {
      --_link_color: var(--link_color_visited, var(--link_color, #528));
      --_link_text_decoration: var(--link_text_decoration_visited, var(--link_text_decoration));
    }

    &:hover {
      --_link_color: var(--link_color_hover, var(--link_color, #00f));
      --_link_text_decoration: var(--link_text_decoration_hover, var(--link_text_decoration));
    }

    &:focus {
      @include _.outline();

      --_link_color: var(--link_color_focus, var(--link_color));
      --_link_text_decoration: var(--link_text_decoration_focus, var(--link_text_decoration));
    }

    &:active {
      --_link_color: var(--link_color_active, var(--link_color, #f00));
      --_link_text_decoration: var(--link_text_decoration_active, var(--link_text_decoration));
    }
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0; // Plain anchors don't need an outline.
  }
}

abbr[title] {
  cursor: help; // Add explicit cursor to indicate changed behavior.
  text-decoration-skip-ink: none; // Prevent the text-decoration to be skipped.
}

._large {
  font-size: var(--font_size_large);
  line-height: 1;
}

mark {
  background-color: var(--mark_background_color, #ff0);
}

small, ._small,
sub,
sup {
  font-size: var(--font_size_small);
  line-height: 1;
}
